.container {
  color: white;
  background: #475581;
  max-width: 500px;
  margin: 40px auto 30px auto;
  padding: 0 0 0 0;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.add-task {
  display: block;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  height: 70px !important;
  background-color: #00d28c !important;
  font-size: 70px !important;
  font-weight: 300;
  text-decoration: none;
  color: white;
  line-height: 70px !important;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.main h1 {
  text-align: center;
  margin-bottom: 50px;
}

.calendar {
  background-color: #4d607c;
}

body {
  background-color: #475581;
  margin: 0;
  padding: 0;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
.task-list {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}
.task {
  padding: 14px;
  margin: 5px 0;
  border-radius: 8px;
  background-color: #2e3c4e;
}

section {
  padding: 30px;
}

.main {
  padding-top: 45px;
  border-radius: 12px 12px 0px 0px;
  background-color: #2e3c4e;
  padding-bottom: 50px;
}

.list {
  border-radius: 0px 0px 12px 12px;
  background-color: #475581;
  padding-bottom: 50px;
}

#calendar {
  padding: 10px;
  background-color: #475581;
}

.dot {
    border-radius: 50%;
}

.tanggal {
  font-size: 14px;
  color: white;
}

.isiKanan{
  color: white;
  margin-left: 20px;
  font-size: 14px;
}

.isiKiri{
  color: white;
}