.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #666;
}
